body {
  text-align: center;
}

h1 {
  color: red;
}

.box_container {
  display: flex;
  justify-content: center;
}
.btn {
  border-radius: 20%;
  border: solid rgba(0, 0, 49, 0.6) 5px;
  width: 150px;
  height: 150px;
  margin: 10px;
}
.green {
  background-color: #34e89e;
}
.red {
  background-color: #ef3b36;
}
.blue {
  background-color: #1cb5e0;
}
.yellow {
  background-color: #ffc371;
}

.flash {
  background-color: white;
}
